#header{
    @include position_fixed;
    z-index: 10000;
}
.header_inner{
    @include flex_between;
    background-color: rgba(116,99,99,0.1);
    backdrop-filter: blur(5px);
    padding: 1rem;


    .header_logo{
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        // 줄간격은 위를 바꿔줘야함

        em{
            display: block;
            font-size: 10px;
            color: var(--black200);
        }
    }
    .header_nav{
        @media (max-width:800px){
            display: none;

            &.show{
                display: block;

                ul{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: rgba(116,99,99,0.1);
                    backdrop-filter: blur(5px);
                    z-index: 1000;

                    li{

                        display: block;
                        text-align: right;
                        a{
                            display: inline-block;
                        }
                    }
                }
            }
            &.show + .header_nav_mobile span::before{
                width: 20px;
            }
            &.show + .header_nav_mobile span::after{
                width: 20px;
            }
        }

        ul{
            li{
                display: inline;
                a{
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 10px;
                    position: relative;

                    &::before{
                        // & = 자기자신
                        position: absolute;
                        content: "";
                        width: calc(100% - 28px);
                        height: 1px;
                        background-color: var(--black);
                        left: 14px;
                        bottom: 10px;
                        transform: scaleX(0);
                        transition: all 0.3s;
                    }
                    &:hover::before{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    .header_nav_mobile{
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        // background-color: #ccc;

        @media (max-width:800px){
            display: block;
        }

        span{
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before{
                position: absolute;
                content: ""; 
                width: 40px;
                height: 2px;
                background-color: var(--black);
                right: 0;
                top: 6px;
                transform: width 0.3s;
            }
            &::after{
                position: absolute;
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                left: 0;
                bottom: 6px;
                transform: width 0.3s;
            }
        }
    }
}