#port{
    width: 100%;
    margin-top: 30vh;
}

.port_inner{
    padding: 16px;

    .port_title{
            width: 100%;
            height: 5vw;
            font-size: 4vw;
            font-weight: 900;
            line-height: 1.6;
            text-transform: capitalize;
            border-bottom: 0.4vw solid;
            margin-bottom: 20px;

        em{
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .port_wrap{
        display: flex;
        flex-wrap: wrap;
        // 전체화면에서 공간이 없으면 밑으로 떨어짐
        width: 4000px;
        // 넓이 여유있게 잡아주기

        .port_item{
            width: 500px;
            height: 70vh;
            background-color: var(--subBg100);
            padding: 2.5rem;
            margin-right: 20px;

            &.p1{background-color: var(--subBg100);}
            &.p2{background-color: var(--subBg200);}
            &.p3{background-color: var(--subBg300);}
            &.p4{background-color: var(--subBg400);}
            &.p5{background-color: var(--subBg500);}
            &.p6{background-color: var(--subBg100);}


            .num{
                font-size: 2rem;
                font-family: var(--mainNum-font);
            }
            .img{
                margin-top: -20px;
                display: block;
                transition: margin-top 0.3s;
                filter: saturate(0);
                margin-bottom: 2rem;

                &:hover{
                    margin-top: 0;
                    filter: saturate(1);
                }
            }
            .title{
                font-size: 1.5rem;
                text-align: center;
                border-bottom: 2px solid var(--black100);
                padding-bottom: 0.8rem;
                margin-bottom: 1rem;
            }
            .desc{
                text-align: justify;
                // 양쪽정렬
                margin-bottom: 1.5rem;
            }
            .site{
                border: 1px solid var(--black100);
                display: block;
                text-align: center;
                padding: 10px 0px;
                transition: all 0.3s;

                &:hover{
                    background-color: var(--black100);
                    color: var(--white);;
                }
            }
        }
    }
}